@import '../../variables.scss';

.taskTodo {
    border-top: 10px solid $todo-colour;
    border-radius: 4px;
}

.taskInProgress {
    border-top: 10px solid $inprogress-colour;
    border-radius: 4px;
}

.taskFinished {
    border-top: 10px solid $finished-colour;
    border-radius: 4px;
}

.task {
    margin: 20px;
    padding: 20px 30px;
    background-color: #FFFFFF;
}

.taskTitle {
    padding: 10px 0;
    font-size: 24px;
    font-family: 'Questrial', sans-serif;
}

.taskDuration {
    font-size: 14px;
    color: grey;
}

.taskButton {
    background: transparent;
    border: none;
    color: grey;
    margin: 5px;
}